{% extends 'base.html' %}

{% block content %}
<h1>Edit a city</h1>

<form action="/cities/{{city.id}}" method="post">
  <select name="country_id" id="country">
    {% for country in all_countries %}
    <option value="{{ country.id }}"
      {% if city.country.id == country.id %} selected="selected"{% endif %}>
      {{ country.name }}
    </option>
    {% endfor %}
  </select>
  
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{city.name}}" required autofocus>
  </div>

  <input type='submit' value="Edit">
</form>

{% endblock %}