{% extends 'base.html' %}

{% block content %}
<h1>Cities</h1>

<p class="btn--wrapper">
  
</p>

<ul class="card-admin-container">
  <a class="card-admin" href="/cities/new">New city</a>
  {% for city in all_cities %}
  <li class="card-admin">
  <p><a href="/cities/{{ city.id }}/show">{{ city.name }}</a></p>
    <p>
      <form action="/cities/{{ city.id }}/delete" method="POST">
        <input type="submit" value="delete" />
      </form>
    </p>
  </li>
  {% endfor %}
</ul>


{% endblock %}
