{% extends 'base.html' %}

{% block content %}
<h1>Add a country</h1>

<form action="/countries" method="post">
  <div>
    <label for="continent">Select a continent:</label>
    <select name="continent_id" id="continent">
      {% for continent in all_continents %}
      <option value="{{ continent.id }}">{{ continent.name }}</option>
      {% endfor %}
    </select>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="e.g. Spain" required autofocus>
  </div>
    
  <input type='submit' value="Add">
</form>

{% endblock %}