{% extends 'base.html' %}

{% block content %}
<h1>Users</h1>

<ul class="card-admin-container">
  <a class="card-admin" href="/users/new">New user</a>
  {% for user in all_users %}
  <li class="card-admin">
  <p><a href="/users/{{ user.id }}/visits">{{ user.name }}</a></p>
  <p><a href="/users/{{ user.id }}/edit">Edit</a></p>
    <p>
      <form action="/users/{{ user.id }}/delete" method="POST">
        <input type="submit" value="delete" />
      </form>
    </p>
  </li>
  {% endfor %}
</ul>


{% endblock %}
