<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> <!-- NEW -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- NEW -->
  <title>{{ user.name }} List</title>
</head>
<body>
  <header>
    <!-- <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/users/{{ user.id }}/visits"">{{ user.name }} list</a></li>
        <li><a href="/users/{{ user.id }}/visits/new"">Add a visit</a></li>
        <li><a href="/visits">Visit list</a></li>
        <li><a href="/visits/new">Add new visit</a></li>
        <li><a href="/users">Select user</a></li>
      </ul>
    </nav> -->
    <nav class="navbar">
      <a href="/users/{{user.id}}/visits">Your visits</a>
      <a href="/users/{{user.id}}/wishlist">Your Wishlist</a>
      <a href="/users/{{user.id}}/visits/new">Add a visit or wish</a>
      <a href="/">Admin</a>
    </nav>

  </header>
    {% block content %}
    {% endblock %}
</body>
</html>
