{% extends 'user_visits/base.html' %}

{% block content %}
<h1>Edit a Visit</h1>
<ul>
  <li><h2>{{ user.name }}</h2></li>
  <li><h3>{{ user.username }}</h3></li>
</ul> 

<form action="/users/{{ user.id }}/visits/{{ visit.id }}" method="post">
  <label for="visit_date">When did you visit?</label>
  <input type="date" id="visit_date" name="visit_date" value="{{visit.visit_date}}">

  <input type="radio" id="visited" name="visited" value="True" {% if visit.visited == True %} checked="checked"{% endif %}>
  <label for="visited">Already visited</label>
  <input type="radio" id="wishlist" name="visited" value="False" {% if visit.visited == False %} checked="checked"{% endif %}>
  <label for="wishlist">Wishlist</label>
  <label for="country">Select a country:</label>
    <select name="country_id" id="country">
      {% for country in all_countries %}
      <option value="{{ country.id }}"
        {% if visit.city.country.id == country.id %} selected="selected"{% endif %}>
        {{ country.name }}
      </option>
      {% endfor %}
    </select>
  
  <label for="city">Select a city:</label>
    <select name="city_id" id="city">
      {% for city in all_cities %}
      <option value="{{ city.id }}"
        {% if visit.city.id == city.id %} selected="selected"{% endif %}>
        {{ city.name }}
      </option>
      {% endfor %}
    </select>
  
  <input type='submit' value="Edit">
</form>

{% endblock %}