body{
  font-family: 'Arvo', serif;
  font-size: large;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

/* line controls over user inputs */
input, select, button {
  font-size: 100%;
  width : 90%;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}
/* input[type="date"],
input[type="radio"],
select {
  margin-bottom: 10px;
} */


/* .trash-button{
  display: contents;
  font-size: 65%;
} */

/* controls grey bar */
.menu{
  display: flex;
  padding: 10px;
  background-color: grey;
  color: white;
}

.menu li a{
  text-decoration: none;
}

.menu li a:visited{
  color: white;
}

/* controls grey bar element looks */
.menu li{
  padding-right: 10px;
  list-style: none;
  color: white;
  font-family: "Helvetica", arial, sans-serif; font-size: 14px;
}



/* ez hatarozza meg minden lista meretet */
/* ez itt minden base html vegen van */
/* ha tul rovid a nev, egy sorba rakja a h1 h2-t */
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 500px;
  margin: 0 auto;
}

.list_page{
  width: 90%;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin: auto;
  max-width: 300px;
}


/* innen a navbar jon */
/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  background-color: #333;
  font-family: 'Arvo', serif;
  align-items: center;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 26px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 26px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.card-container {
  display: flex;
  flex: 1 1 auto;
  justify-content: left;
  flex-wrap: wrap;
  list-style-type: none;
}

.card-admin-container {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: left;
  flex-wrap: wrap;
  list-style-type: none;
}

.card {
  width: 20%;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 25px 25px 15px 25px;
  transition: 0.3s;
}


.card-admin {
  width: 20%;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 25px 25px 15px 25px;
  transition: 0.3s;
}

.card-admin li{
  list-style: none;
}

.card a {
  text-align: center;
  color: #000000;
}

.card:hover {
  box-shadow: 5px 1px 20px 1px #ddd;
  transform: scale(0.96);
}
.card-admin:hover {
  box-shadow: 5px 1px 20px 1px #ddd;
  transform: scale(0.96);
}

.btn--block {
  display: block;
  width: 92%;
}

@media (max-width: 600px) {
  .card-container {
    display: flex;
    flex-direction: column;
  }
}
