{% extends 'base.html' %}

{% block content %}
<h1>Edit a Visit</h1>

<form action="/visits/{{ visit.id }}" method="post">
  <label  for="user">Select a user:</label>
    <select class="card-admin" name="user_id" id="user">
      {% for user in all_users %}
      <option value="{{ user.id }}"
      {% if visit.user.id == user.id %} selected="selected"{% endif %}>
      {{ user.name }}
    </option>
      {% endfor %}
    </select>
  
  <label  for="location">Select a city:</label>
    <select class="card-admin" name="city_id" id="city">
      {% for city in all_cities %}
      <option value="{{ city.id }}"
        {% if visit.city.id == city.id %} selected="selected"{% endif %}>
        {{ city.name }}
      </option>
      {% endfor %}
    </select>
  
  <input type='submit' value="Edit">
</form>

{% endblock %}