{% extends 'base.html' %}

{% block content %}
<h1>Visits</h1>

 
<ul class="card-admin-container">
  <a class="card-admin" href="/visits/new">New visit</a>
  {% for visit in all_visits %}
  <li class="card-admin">
  <p><a href="/visits/{{ visit.id }}/edit">{{ visit.user.name }} - {{ visit.city.name }}</a></p>
    <p>
      <form action="/visits/{{ visit.id }}/delete" method="POST">
        <input type="submit" value="delete" />
      </form>
    </p>
  </li>
  {% endfor %}
</ul>


{% endblock %}
