<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book list</title>
  </head>
  <body>
    {% for book in books %}
    <div>
      <a href="/books/{{books.index(book)}}">
        {{ book.title }} {{ book.author }} {{ book.genre }}
      </a>
      <a href="/books/delete/{{books.index(book)}}">
        <button type="button">Delete</button>
      </a>
    </div>
    {% endfor %}
    <p>
      <a href="/books/new"> <button type="button">Add new</button> </a>
    </p>
  </body>
</html>
